{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core_lista_pessoas' %}">Veículos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Atualizando: {{ veiculo }}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <form action=" {% url 'core_veiculo_update'  veiculo.id %}" method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit"
                        class="btn btn-outline-secondary">Salvar</button>
                <a href="{% url 'core_veiculo_delete' veiculo.id %}"
                   class="btn btn-outline-danger">Deletar</a>
                <a href="{% url 'core_lista_veiculos' %}"
                   class="btn btn-outline-secondary">Voltar</a>
            </form>
        </div>
    </div>


{% endblock %}
